@*@model IEnumerable<Pie>*@
@model BethanysPieShopWebApp.ViewModels.PiesListViewModel


@*below implementation is without view model*@
@*<h1>@ViewBag.CurrentCategory</h1>

    @foreach(var pie in Model)
    {

    <div>
        <h2>@pie.Name</h2>
        <h3>@pie.Price.ToString("c")</h3>
        <h4>@pie.Category.CategoryName</h4>
    </div>

    }*@


<h1>@Model.CurrentCategory</h1>

@foreach (var pie in Model.Pies)
{
    <partial name="_PieCard" model="pie" />
}

