@*@model IEnumerable<Pie>*@
@model BethanysPieShopWebApp.ViewModels.PiesListViewModel


@*below implementation is without view model*@
@*<h1>@ViewBag.CurrentCategory</h1>

    @foreach(var pie in Model)
    {

    <div>
        <h2>@pie.Name</h2>
        <h3>@pie.Price.ToString("c")</h3>
        <h4>@pie.Category.CategoryName</h4>
    </div>

    }*@


<h1>@Model.CurrentCategory</h1>

@foreach (var pie in Model.Pies)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@pie.ImageThumbnailUrl" alt="">
            <div class="caption">
                <h3 class="pull-right">@pie.Price.ToString("c")</h3>
                <h3>
                    @***adding tag helper here!!. The id params is passed appending to asp-route *@
                    <a asp-controller="Pie" asp-action="Details" asp-route-id="@pie.PieId" >@pie.Name</a>
                </h3>
                <p>@pie.ShortDescription</p>
            </div>
        </div>
    </div>
}

